{% load static %}
<!DOCTYPE html>
<head>
  <title>OpenAI Quickstart</title>
  <link rel="shortcut icon" href="{% static 'namemypet/dog.png' %}" />
  <link rel="stylesheet" href="{% static 'namemypet/main.css' %}" />
</head>

<body>
  <img src="{% static 'namemypet/dog.png' %}" class="icon" />
  <h3>Name my pet</h3>
  <form action="." method="post">
    {% csrf_token %}
    <input type="text" name="animal" placeholder="Enter an animal" required />
    <input type="submit" value="Generate names" />
  </form>
  {% if result %}
  <div class="result">{{ result }}</div>
  {% endif %}
</body>
